@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-headers($config: ()) {
  $config: extend(
    (
      color: $text-color,
    ),
    $config
  );

  $color: map-get($config, color);
}
